html, body, #root {
  height: 100%;
  margin: 0;
  background-color: rgb(56,56,56);
}

.App {
  height: 100%;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  padding: 20px;
  font-weight: bold;
}

.lightbulb-icon {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 8px yellow);
}
